html, body {
    height: 100%;
    margin: 0;
}

.harry-potter-theme {
    background: url('/images/hogwarts-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #f5f5dc;
    height: 100%;
    display: flex;
    flex-direction: column;
}

    .harry-potter-theme h1 {
        font-family: 'Harry P';
        font-size: 100px;
    }

    .harry-potter-theme .transparent-background {
        background: rgba(0, 0, 0, 0.3);
        padding: 15px;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 50%;
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .harry-potter-theme button {
        font-family: InkPot;
    }

.star-wars-theme {
    background: url('/images/star-wars-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #f5f5dc;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.star-wars-theme h1 {
    font-family: 'Star Jedi Hollow';
    color: #FFE81F;
    font-size: 100px;
}

    .star-wars-theme .transparent-background {
        background: rgba(0, 0, 0, 0.3);
        padding: 15px;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 50%;
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .star-wars-theme button {
        font-family: 'Star Jedi';
    }

.center {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

button {
    background-color: #e0dcdc;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 30px;
    font-weight: 700;
    font-size: 30px;
    width: 50%;
    height: auto;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}



button.hover-enabled:hover {
    background-color: #f9f9f9;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.answer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

    .question-container h4 {
        text-align: center;
    }

.correct-answer {
    background-color: #4CAF50;
    color: white;
}

.incorrect-answer {
    background-color: #F44336;
    color: white;
}

.combo {
    font-size: 1.5rem;
    color: orange;
    font-weight: bold;
    text-align: center;
}

.points {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 1%;
}