body {
}

h1 {
    display: flex;
    justify-content: center;
}

.table {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: 100px, 100px;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}

.table p {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: aliceblue;
}

.table p:hover {
    background-color: aqua;
    transform: scale(1.1);
    cursor: pointer;
}